<footer class='footer'>
    <% const date = new Date(); %>
    <% const year = date.getFullYear(); %>
    <h6 class='footer__visit-counter'>Nasza strona została odwiedzona przez <%=visitsCount%> unikalnych gości.</h6>
    <h6 class='footer__dev'>Koło nr.22 Energetyk Radom@<%=year%> - wykonanie <a href="https://nbtb.eu" class="footer__link" target="blank_">Norbert B.</a></h6>
</footer>
<div class="cookies">
    <p class="cookies__text">Nasza strona używa "ciasteczek" do celów statystycznych.</p><button class="cookies__btn">Rozumiem</button>
</div>
</body>

</html>