<footer class='footer'>
    <% const date = new Date(); %>
    <% const year = date.getFullYear(); %>
    <h6 class='footer__dev'>Koło nr.22 Energetyk Radom@<%=year%> - wykonanie Norbert B.</h6>
</footer>
<div class="cookies">
    <p class="cookies__text">Nasza strona używa "ciasteczek" do celów statystycznych.</p><button class="cookies__btn">Rozumiem</button>
</div>
</body>

</html>